@import "bootstrap/scss/bootstrap.scss";

html,
body,
.app {
    height: 100%;
    overflow: auto;
}

h1 {
    font-size: 80px;
}

img {
    height: 120px;
}

.app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}